.header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: var(--main-color);
    height: 80px;
    z-index: 5;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* ✅ Separación entre logoWrap y search-container */
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    gap: 2rem;
  }

  .header-container a i {
    transition: color 0.3s;
  }

  .header-container a i:hover {
    color: #ffffff;
  }
  
  .logo {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--second-color);
    cursor: pointer;
  }
  
  a.logo:focus,
  a.logo:active,
  a.logo:hover {
    text-decoration: none;
    outline: none;
  }
  
  .search-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .search-container input {
    height: 40px;
    width: 100%;
    max-width: 500px;
    background-color: var(--second-color);
    border: 1px solid #000;
    color: #000;
    padding: 12px;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
  }
  
  .ri-menu-line {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    transition: background-color 0.5s;
  }
  