.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 16rem;
  height: 100vh;
  transform: translateX(-100%);
  background-color: var(--main-color, #111);
  opacity: 1;
  transition: transform 0.3s ease;
  z-index: 1001;
  padding: 1rem;
}

.sidebar-dynamic-items {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  align-items: center;
  color: var(--second-color);
  padding: 10px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  transition: var(--main-color) 0.3s ease;
}

.sidebar-item:hover {
  background-color: var(--second-color);
  color: var(--third-color);
  border-radius: 8px;
}

.sidebar i {
  font-size: 1.5rem;
}

.sidebar span {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.sidebar a {
  text-decoration: none;
}

.sidebar.is_open {
  transform: translateX(0);
}

.sidebar-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;
}

.sidebar-close i {
  font-size: 2rem;
  color: var(--third-color);
}

/* .sidebar_overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.sidebar_overlay.is_open {
  opacity: 1;
  pointer-events: all;
} */

i {
  color: var(--third-color);
}