@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");
@import url('header.css');
@import url('layout.css');
@import url('container.css');
@import url('footer.css');
@import url('cards_horizontales.css');
@import url('lectura.css');
@import url('mediaqueries.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

:root {
  --main-color: #1f2937;
  --second-color: #32ada3;
  --third-color: #0d9488;
  --fourth-color: #eef6fd;
}

#app {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header.header {
  grid-area: header;
}

main.content {
  grid-area: main;
  overflow-x: hidden;
  background-color: var(--fourth-color);
}

footer.footer {
  grid-area: footer;
}