@media (max-width: 768px) {
  .sidebar {
    width: 250px;
    max-width: 90vw;
  }

  main.content {
    grid-area: main;
    width: 100% !important;
    padding: 20px;
  }

  footer.footer {
    grid-area: footer;
    width: 100%;
  }

  #app {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr !important;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  main.content {
    grid-area: main;
    width: 100% !important;
    padding: 20px;
  }

  footer.footer {
    grid-area: footer;
    width: 100%;
  }
}

@media (min-width: 769px) {
  header .hamburger-menu {
    display: flex;
  }
}
